.header {
  background-color: #f67361;
  height: 100px;
  position: relative;
}

h1{
  padding: 27px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: "Time New Roman";
}

p{
  text-align: center;
  font-family: "Time New Roman";
}

label{
  display: inline-block;
  text-align: center;
  padding: 25px;
  font-family: "Arial";
}

button{
  background-color: #f67361;
  color: white;
  border: #f67361;
}

a {
	color: black;
	text-decoration: none;
  text-align: left;
  list-style: square;
	
}
a:hover {
	text-decoration: underline;
  text-align: left;
  list-style: square;
}